﻿@model YemekSitesi.Models.Yemek

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Yemek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensei)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensei)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zorluk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zorluk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PisirmeSuresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PisirmeSuresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hazirlanis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hazirlanis)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
