﻿@model YemekSitesi.Models.Yemek

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Yemek</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensei)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensei)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zorluk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zorluk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PisirmeSuresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PisirmeSuresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hazirlanis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hazirlanis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icerikler)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Malzeme İsmi</th>
                    <th>Miktarı</th>
                </tr>
                @foreach (var item in Model.Icerikler)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Malzeme.Isim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MiktarAdeti)
                            @Html.DisplayFor(modelItem => item.MiktarTuru)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
