﻿@model YemekSitesi.Models.Yemek

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Yemek</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Isim, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Isim)
                @Html.ValidationMessageFor(model => model.Isim)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mensei, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mensei)
                @Html.ValidationMessageFor(model => model.Mensei)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zorluk, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Zorluk)
                @Html.ValidationMessageFor(model => model.Zorluk)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kisi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kisi)
                @Html.ValidationMessageFor(model => model.Kisi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PisirmeSuresi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PisirmeSuresi)
                @Html.ValidationMessageFor(model => model.PisirmeSuresi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hazirlanis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hazirlanis)
                @Html.ValidationMessageFor(model => model.Hazirlanis)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
