﻿@model PagedList.IPagedList<YemekSitesi.Models.Yemek>
@using PagedList;
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Yemekler";
}

<h2>Yemekler</h2>

<p>
    @Html.ActionLink("Yemek Ekle", "Create")
</p>

@using (Html.BeginForm("Index","Yemek",FormMethod.Get))
{
    <p>
        İsme göre Ara: @Html.TextBox("SearchString",ViewBag.CurrentFilter as string)
        <input type="submit" value="Ara" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("İsim", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Menşei
        </th>
        <th>
            Zorluk Seviyesi
        </th>
        <th>
            Kişi Sayısı
        </th>
        <th>
            @Html.ActionLink("Pişirme Süresi", "Index", new { sortOrder = ViewBag.PisirmeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Yemek Türü
        </th>
        <th>
            Hazırlanışı
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Isim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mensei)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zorluk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PisirmeSuresi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hazirlanis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",new{ page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
