﻿@model IEnumerable<YemekSitesi.Models.Malzeme>

@{
    ViewBag.Title = "Anasayfa";
    List<SelectListItem> sebzeler = new List<SelectListItem>();
    List<SelectListItem> baharatlar = new List<SelectListItem>();
    List<SelectListItem> etler = new List<SelectListItem>();
    List<SelectListItem> diger = new List<SelectListItem>();
    List<SelectListItem> baklagiller = new List<SelectListItem>();

    foreach (var item in Model)
    {
        if (item.Tur.Equals(YemekSitesi.Models.MalzemeTuru.SEBZE))
        {
            sebzeler.Add(new SelectListItem
            {
                Text = item.Isim,
                Value = item.Isim
            });
        }
        else if (item.Tur.Equals(YemekSitesi.Models.MalzemeTuru.KIRMIZI_ET) ||
            item.Tur.Equals(YemekSitesi.Models.MalzemeTuru.BEYAZ_ET) ||
            item.Tur.Equals(YemekSitesi.Models.MalzemeTuru.BALIK))
        {
            etler.Add(new SelectListItem
            {
                Text = item.Isim,
                Value = item.Isim
            });
        }
        else if (item.Tur.Equals(YemekSitesi.Models.MalzemeTuru.BAKLAGIL))
        {
            baklagiller.Add(new SelectListItem
            {
                Text = item.Isim,
                Value = item.Isim
            });
        }
        else if (item.Tur.Equals(YemekSitesi.Models.MalzemeTuru.BAHARAT))
        {
            baharatlar.Add(new SelectListItem
            {
                Text = item.Isim,
                Value = item.Isim
            });
        }
        else
        {
            diger.Add(new SelectListItem
            {
                Text = item.Isim,
                Value = item.Isim
            });
        }
    }
}

<div class="jumbotron">
    <h1>YEMEKSITESI.COM</h1>
    <p class="lead">YemekSitesi.com'a hoş geldiniz. Burada evinizdeki malzemelerle yapabileceğiniz yemek çeşitlerini bulabilirsiniz.</p>
    <p><a href="" class="btn btn-primary btn-large">Daha Fazlası &raquo;</a></p>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
        
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6">

    </div>
</div>


<div>
    <div>
        @Html.Label(YemekSitesi.Models.MalzemeTuru.SEBZE)
        <div style="display: inline;position:absolute;left:20%;">
            @Html.DropDownList("test", sebzeler, new { id = "dropdown1", style = "width: 100px;" })
            <input type="button" name="fname" value="ekle" onclick="addToTextArea('dropdown1')">
        </div>
    </div>
    <div>
        @Html.Label(YemekSitesi.Models.MalzemeTuru.BAHARAT)
        <div style="display: inline;position:absolute;left:20%;">
            @Html.DropDownList("test", baharatlar, new { id = "dropdown2", style = "width: 100px;" })
            <input type="button" name="fname" value="ekle" onclick="addToTextArea('dropdown2')">
        </div>
    </div>
    <div>
        @Html.Label("Et\t")
        <div style="display: inline;position:absolute;left:20%;">
            @Html.DropDownList("test", etler, new { id = "dropdown3", style = "width: 100px;" })
            <input type="button" name="fname" value="ekle" onclick="addToTextArea('dropdown3')">
        </div>
    </div>
    <div>
        @Html.Label(YemekSitesi.Models.MalzemeTuru.BAKLAGIL)
        <div style="display: inline;position:absolute;left:20%;">
            @Html.DropDownList("test", baklagiller, new { id = "dropdown4", style = "width: 100px;" })
            <input type="button" name="fname" value="ekle" onclick="addToTextArea('dropdown4')">
        </div>
    </div>
    <div>
        @Html.Label(YemekSitesi.Models.MalzemeTuru.DIGER)
        <div style="display: inline;position:absolute;left:20%;">
            @Html.DropDownList("test", diger, new { id = "dropdown5", style = "width: 100px;" })
            <input type="button" name="fname" value="ekle" onclick="addToTextArea('dropdown5')">
        </div>
    </div>
    
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @*<input type="text" readonly rows="10" cols="40" id="textarea1" class="form-control"></input>*@
        @Html.TextArea("textarea1", new { rows="10", cols="40", @class="form-control", @readonly="readonly"})
    </div>
    <div class="form-group">
        <input type="submit" value="BUL" class="btn btn-default" />
    </div>
}
</div>

<script>
    function addToTextArea(dropId) {
        var e = document.getElementById(dropId);
        var malzeme = e.options[e.selectedIndex].value;
        document.getElementById("textarea1").innerHTML += malzeme + "\n";
    }
</script>
